@page "/products/create"

@inject ApiClient ApiClient
@rendermode InteractiveServer
@inject IToastService toastService
@inject NavigationManager NavigationManager

<PageTitle>Create Product</PageTitle>

<h3>Create Product</h3>
<br />
<EditForm OnValidSubmit="Submit" Model="Model">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <label>Product Name</label>
                <InputText class="form-control" @bind-Value="Model.ProductName" />
                <ValidationMessage For="() => Model.ProductName" />
            </div>
            <div class="col-md-6">
                <label>Quantity</label>
                <InputNumber class="form-control" @bind-Value="Model.Quantity" />
                <ValidationMessage For="() => Model.Quantity" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label>Price</label>
                <InputNumber class="form-control" @bind-Value="Model.Price" />
                <ValidationMessage For="() => Model.Price" />
            </div>
            <div class="col-md-6">
                <label>Description</label>
                <InputText class="form-control" @bind-Value="Model.Description" />
                <ValidationMessage For="() => Model.Description" />
            </div>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </div>
</EditForm>

@code {

    private ProductModel Model { get; set; } = new();

    private async Task Submit()
    {
        var res = await ApiClient.PostAsync<BaseResponseModel<ProductModel>, ProductModel>("/api/product", Model);

        if (res is not null && res.Success)
        {
            toastService.ShowSuccess("SUCCESS: Product Created.");
            NavigationManager.NavigateTo("/products");
        }
        else
        {
            toastService.ShowError("ERROR: Failed to create product.");
        }
    }
}
